.header {
    background-image: linear-gradient(to right, #8a2be2, #1e90ff);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }
  
  
  .logo img {
    width: 300px;
    height: auto;
    position: absolute;
    right: 80%;

  }
  
  .navigation a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-weight: 800;
    color: var(--whiteText);
    margin: 50px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 60%;
  }